streamlit
langchain
langchain-community
langchain-text-splitters
langchain-chroma
langchain-groq
langchain-huggingface
chromadb
python-dotenv
pymupdf
docx2txt
unstructured[pptx]

sentence-transformers
torch
transformers
